.App {
  text-align: center;
}

.background{ 
  background-color: black;
}

h1{
  color:#88CCFF;
  font-size: 4rem;
}

.getSmurf{
  color:#88CCFF;
  font-size: 1.4rem;
  border: 1px solid white;
  width: 40%;
  margin: 0 auto;
  
}
.button{
  background-color: black;
  color:#88CCFF;
}

.input{
  font-size:1.6rem;
  background: #88CCFF;
}